/*Responsive Design : Ordinateur*/
@media screen and (min-width: 992px)
{
/*Elements principals de la page*/
    body
    {
        background-color: white;
        font-family: "Raleway", sans-serif;
        overflow-x: hidden;
        margin: 0px;
        color: black;
    }
    a
    {
        color: black;
        text-decoration: none;
    }
    a:visited
    {
        color: black;
    }
    header, main
    {
        padding: 0px 60px; 
        width: auto;
    }
    *:focus
    {
        outline: none;
    }
/*Header*/
    /* nav
    {
        display: flex;
    }
    .logo
    {
        display: flex;
    }
    .logo > a
    {
        padding: 60px 0 0 0;
    }
    .nav_list
    {
        display: flex;
        align-items: center;
        position: absolute;
        right: 20px;
    }
    nav li
    {
        list-style: none;
        display: flex;
        float: left;
    }
    nav a
    {
        padding: 60px 40px 0px 40px;
    }
    nav li a:hover
    {
        color: #0065FC;
        border-top: #0065FC 2px solid; 
    }
    nav > .nav_list > .inscription > a
    {
        color: #0065FC;
        font-weight: bold;
        display: flex;
        padding: 60px 40px 0px 40px;
    } */
    .wrap
    {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 50px 0 20px 0;
    }
    .nav_list
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .nav_list > ul
    {
        display: flex;
        text-align: center;
        padding: 0;
    }
    nav li
    {
        list-style: none;
        display: inline-block;
    }
    nav li.on
    {
        color: #0065FC;
    }
    .nav_list a
    {
        padding: 50px 35px 0 35px;
    }
    .inscription > a
    {
        color: #0065FC;
        font-weight: bold;
    }
/*Section 1: Text Bloc*/
    .text_bloc
    {
        clear: both;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .text_bloc h2
    {
        font-size: 1.4em;
        font-weight: bold;
    }
    .text_bloc p
    {
        font-size: 1em;
        clear: both;
        margin-bottom: 30px;
    }
/*Section 1 : Champ de Recherche */
    .recherche_bloc
    {
        margin: 20px 0 30px 0;
        display: flex;
    }
    .icon_gps
    {
        background-color: #F2F2F2;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 1.1em;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #recherche > form > input
    {
        font-size:1.1em;
        font-weight: bold;
        width: 250px;
        height: 50px;
        padding: 10px;
        border: 1px solid #F2F2F2;  
    }
    #recherche > form > .button
    {
        width: 130px;
        height: 50px;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .button_text
    {
        color: white;
        display: table-cell;
        line-height: 50px;
        text-align: center;
        font-size: 1em;
        font-weight: normal;
        padding-left: 0.85em;
    }
    .icon_search
    {
        display: none;
    }
/*Section 1 : Filtres*/
    #recherche h2
    {
        float: left;
    }
    .text_filtres
    {
        font-size: 1.1em;
        font-weight: bold;
    }
    .filtres
    {
        font-size: 1em;
        font-weight: bold;
        line-height: 52px; /*Vertical align: center*/
        box-sizing: content-box;
        height: 52px;
        border-radius: 30px;
        border: 2px solid #D9D9D9;
        background-color: white;
        float: left;
        padding: 0 20px 0 0;
        margin: 0 20px 0 20px;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
    }
    .filtres > a:hover
    {
        color: #0065FC;
    }
    .icon_filtres
    {
        color: #0065FC;
        background-color: #DEEBFF;
        height: 52px;
        width: 52px;
        line-height: 52px;
        text-align: center;
        font-size: 1.1em;
        border-radius: 50%;
        margin-right: 10px; /*Espace entre icon et text*/
        float: left;
    }
/*Section 1: Info*/
    .info_message
    {
        clear: both;
        margin-top: 50px;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
    }
    .icon_info
    {
        color: #0065FC;
        background-color: white;
        height: 25px;
        width: 25px;
        line-height: 25px;
        text-align: center;
        font-size: 0.7em;
        border-radius: 50%; 
        border: #D9D9D9 solid 2px;
        float: left;
        margin: 25px 10px 0 0;
    }
    .info_message > p
    {
        font-size: 1em;
        line-height: 25px;
        margin: 25px 0 0 0;
    }
/*Section 2.1 + 2.2*/
    .section_2
    {
        display: flex;
    }
/*Section 2.1: Hebergements*/
    .hebergements_container
    {
        background-color: #F2F2F2;
        border-radius: 15px;  
        max-width: 96%;
        height: auto;
        padding-bottom: 10px;
        float: left;
    }
    .hebergements_container > h2
    {
        padding: 20px 20px 0 20px;
        font-size: 1.4em;
        font-weight: bold;
    }
    .groupe_carte_hebergements
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .carte_hebergements
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 190px;
        width: 230px;
        margin: 10px 0;
        padding: 5px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .hebergements_element img 
    {
        height: 115px;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .details
    {
        margin-left: 10px;
    }
    .hebergements_element > .details > h3
    {
        font-size: 0.9em;
        font-weight: bolder;
        margin: 5px 0 5px 0;
    }
    .hebergements_element > .details > p
    {
        font-size: 0.8em;
        margin: 5px 0 5px 0;
        clear: both;
    }
    .hebergements_container > p
    {
        margin-left: 20px;
        padding-bottom: 15px;
        font-weight: bold;
    }
    .text_bold
    {
        font-weight: bold;
    }
    .icon_star
    {
        font-size: 0.7em;
    }
    .icon_star > .full
    {
        color: #0065FC;
    }
    .icon_star > .simple
    {
        color: #D9D9D9;
    }
    .carte_hebergements:hover {
        transform: scale(1.01);
    }

/*Section 2.2: Les Plus Populaires*/
    aside
    {
        float: right;
    }
    .aside
    {
        width: auto;
        height: auto;
        background-color: #F2F2F2;
        border-radius: 15px;
        padding-bottom: 10px;
    }
    .aside h2
    {
        padding: 20px 20px 0 20px;
        margin-bottom: 35px;
        font-size: 1.4em;
        font-weight: bold;
    }
    .carte_aside
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: auto;
        width: 300px;
        margin: 20px;
        padding: 5px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .aside_element img
    {
        height: 130px;
        width: 45%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin-right: 15px;
        float: left;
    }
    .aside_element > h3
    {
        font-size: 0.9em;
        font-style: bolder;
        margin: 10px 0 10px 0;
    }
    .aside_element > p
    {
        font-size: 0.8em;
        margin: 5px 0 10px 0;
    }
    .aside_element > .icon_star
    {
        vertical-align: baseline;
        padding-top: 30px;
    }
    .carte_aside:hover {
        transform: scale(1.01);
    }
/*Section 3: Activites*/
    .activites_container
    {
        width: auto;
        height: 550px;
    }
    .activites_container > h2
    {
        padding: 20px 20px 10px 20px;
        margin: 30px 0;
        font-size: 1.4em;
        font-weight: bold;
    }
    .groupe_carte_activites
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .activites_column_single
    {
        flex-basis: 23%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
        .carte_activites_single
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0 10px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .carte_activites_single > .activites_element > img
    {
        width: 100%;
        height: 370px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .activites_column_double
    {
        flex-basis: 23%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .carte_activites_2, .carte_activites_5
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        padding: 0 0 10px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;  
    }
    .carte_activites_2 > .activites_element > img
    {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    .carte_activites_5 > .activites_element > img
    {
        width: 100%;
        height: 145px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    .carte_activites_3, .carte_activites_6
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0 10px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;  
    }
    .carte_activites_3 > .activites_element > img
    {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    .carte_activites_6 > .activites_element > img
    {
        width: 100%;
        height: 155px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }    
    .activites_element > h3
    {
        font-size: 0.9em;
        font-weight: bold;
        margin: 5px 0 0 10px;
    }
/*Footer*/
    footer
    {
        background-color: #F2F2F2;
        width: 100%;
        height: 100%;
        padding: 20px 0 50px 40px;
        margin: 0;
    }
    .groupe_footer
    {
        display: flex;
        justify-content: start;
        margin: auto;
    }
    .footer_column
    {
        padding: 10px 140px 10px 10px;
    }
    footer h1
    {
        font-size: 1em;
        font-weight: bold;
        padding: 20px 0 0px 20px;
    }
    footer ul
    {
        margin: 0;
        padding: 0 0 0 20px;
    }
    footer li
    {
        font-size: 0.9em;
        padding: 10px 0 0 0;
        list-style: none;
    }
}


/*Responsive Design : Tablette*/
@media screen and (min-width: 768px) and (max-width: 991px)
{
    /*Elements principals de la page*/
    body
    {
        background-color: white;
        font-family: "Raleway", sans-serif;
        overflow-x: hidden;
        margin: 0px;
        color: black;
    }
    li
    {
        list-style: none;
    }
    a
    {
        color: black;
        text-decoration: none;
    }
    a:visited
    {
        color: black;
    }
    header, main
    {
        padding: 0;
        margin: 0; 
        width: auto;
    }
    *:focus
    {
        outline: none;
    }
    /*Header*/
    .wrap
    {
        display: flex;
        flex-direction: column;
    }
    .logo
    {
        padding: 30px 30px 20px 30px;
    }
    .nav_list > ul
    {
        padding: 15px 0 15px 0;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .nav_list > ul > li
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        font-size: 1em;
        text-align: center;
        padding: 0 0 20px 0;
        border-bottom: 2px solid #D9D9D9;
    }
    .nav_list > ul > li:active
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }
    /*Effet Active : Font color doesn't change*/
    .inscription
    {
        padding: 20px 0 0 0;
        position: absolute;
        right: 30px;
        top: 30px;
    }
    nav > .nav_list > .inscription > a
    {
        font-size: 1em;
        color: #0065FC;
        font-weight: bold;
    }
    /*Section 1: Text Bloc*/
    .text_bloc
    {
        clear: both;
        margin: 20px;
    }
    .text_bloc h2
    {
        font-size: 1.5em;
    }
    /*Section 1: Champ de Recherche */
    .recherche_bloc
    {
        margin: 20px;
        display: flex;
    }
    .icon_gps
    {
        background-color: #F2F2F2;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 1.1em;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #recherche > form > input
    {
        font-size:1.1em;
        font-weight: bold;
        width: 65%;
        height: 50px;
        padding: 10px;
        border: 1px solid #F2F2F2;  
    }
    #recherche > form > .button
    {
        width: 130px;
        height: 50px;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .button_text
    {
        color: white;
        display: table-cell;
        line-height: 50px;
        text-align: center;
        font-size: 1em;
        padding-left: 0.85em;
    }
    .icon_search
    {
        display: none;
    }
    /*Section 1: Filtres*/
    .text_filtres
    {
        margin-left: 20px;
    }
    .filtres
    {
        font-size: 1em;
        font-weight: bold;
        line-height: 52px; /*Vertical align: center*/
        box-sizing: content-box;
        height: 52px;
        border-radius: 30px;
        border: 2px solid #D9D9D9;
        background-color: white;
        float: left;
        padding: 0 20px 0 0;
        margin: 0 5px 20px 20px;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
    }
    .filtres > a:hover
    {
        color: #0065FC;
    }
    .icon_filtres
    {
        color: #0065FC;
        background-color: #DEEBFF;
        height: 52px;
        width: 52px;
        line-height: 52px;
        text-align: center;
        font-size: 1.2em;
        border-radius: 50%;
        margin-right: 10px; /*Espace entre icon et text*/
        float: left;
    }
    /*Section 1: Info*/
    .info_message
    {
        clear: both;
        margin: 30px 20px 30px 20px;
    }
    .icon_info
    {
        color: #0065FC;
        background-color: white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 0.7em;
        border-radius: 50%; 
        border: #D9D9D9 solid 2px;
        float: left;
        margin-right: 10px;
    }
    .info_message > p
    {
        font-size: 1em;
        line-height: 30px;
        padding: 3px 0 0 0;
        margin: 0;
    }
    /*Section 2: Article & Aside*/
    .section_2
    {
        display: flex;
        flex-direction: column-reverse;
    }
    /*Section 2.1: Hebergements*/
    .hebergements_container
    {
        width: auto;
    }
    .hebergements_container > h2
    {
        padding: 0 20px 0  20px;
        margin-top: 30px;
    }
    .groupe_carte_hebergements
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .carte_hebergements
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 190px;
        width: 42%;
        margin: 20px;
        padding: 5px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .hebergements_element img 
    {
        height: 115px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .details
    {
        margin-left: 10px;
    }
    .hebergements_element > .details > h3
    {
        font-size: 1em;
        font-style: bold;
        margin: 5px 0 5px 0;
    }
    .hebergements_element > .details > p
    {
        font-size: 0.9em;
        margin: 5px 0 5px 0;
        clear: both;
    }
    .hebergements_container > p
    {
        margin-left: 20px;
        font-weight: bold;
    }
    .text_bold
    {
        font-weight: bold;
    }
    .icon_star
    {
        font-size: 0.7em;
    }
    .icon_star > .full
    {
        color: #0065FC;
    }
    .icon_star > .simple
    {
        color: #D9D9D9;
    }
    /*Section 2.2: Les Plus Populaires*/
    .aside
     {
         width: auto;
         background-color: #F2F2F2;
     }
     .aside h2
     {
         padding: 0 20px 0  20px;
     }
     .carte_aside
     {
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         height: 140px;
         width: auto;
         margin: 20px;
         padding: 5px;
         background-color: white;
         border-radius: 15px;
         box-shadow: 3px 3px 15px 2px #D9D9D9;
     }
     .aside_element img
     {
         height: 140px;
         width: 42%;
         border-top-left-radius: 15px;
         border-bottom-left-radius: 15px;
         margin-right: 15px;
         float: left;
     }
     .aside_element > h3
     {
         font-size: 1em;
         font-style: bold;
         margin: 10px 0 10px 0;
     }
     .aside_element > p
     {
         font-size: 0.9em;
         margin: 5px 0 10px 0;
     }
     .aside_element > .icon_star
     {
         margin-top: 40px;
     }
    /*Section 3: Activites*/
    /* .activites_container
    {
        width: auto;
    }
    .activites_container > h2
    {
        padding: 0 20px 10px 20px;
        margin-top: 30px;
    }
    .groupe_carte_activites
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
    }
    .carte_activites
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 180px;
        width: 42%;
        margin: 20px 20px 25px 20px;
        padding: 0 0 5px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .activites_element img
    {
        height: 135px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .activites_element > h3
    {
        font-size: 1em;
        font-weight: bold;
        margin: 13px 0 0 15px;
    } */
    .activites_container
    {
        width: auto;
        height: 550px;
    }
    .activites_container > h2
    {
        padding: 20px 20px 10px 20px;
        margin: 30px 0;
    }
    .groupe_carte_activites
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }
    .activites_column_single
    {
        flex-basis: 23%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
        .carte_activites_single
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0 10px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .carte_activites_single > .activites_element > img
    {
        width: 100%;
        height: 370px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .activites_column_double
    {
        flex-basis: 23%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .carte_activites_2, .carte_activites_5
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        padding: 0 0 10px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;  
    }
    .carte_activites_2 > .activites_element > img
    {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    .carte_activites_5 > .activites_element > img
    {
        width: 100%;
        height: 145px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    .carte_activites_3, .carte_activites_6
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0 0 10px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;  
    }
    .carte_activites_3 > .activites_element > img
    {
        width: 100%;
        height: 120px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }
    .carte_activites_6 > .activites_element > img
    {
        width: 100%;
        height: 155px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px; 
    }    
    .activites_element > h3
    {
        font-size: 0.95em;
        font-weight: bold;
        margin: 10px 0 0 10px;
    }
    /*Footer*/
    footer
    {
        background-color: #F2F2F2;
        width: 100%;
        height: 100%;
        padding: 20px 0 50px 40px;
        margin: 0;
    }
    .groupe_footer
    {
        display: flex;
        justify-content: start;
        margin: auto;
    }
    .footer_column
    {
        padding: 10px 80px 10px 10px;
    }
    footer h1
    {
        font-size: 1em;
        font-weight: bold;
        padding: 20px 0 0px 20px;
    }
    footer ul
    {
        margin: 0;
        padding: 0 0 0 20px;
    }
    footer li
    {
        font-size: 0.9em;
        padding: 10px 0 0 0;
        list-style: none;
    }
}


/*Responsive Design : Telephone Portable*/
@media screen and (max-width: 767px)
{
    /*Elements principals de la page*/
    body
    {
        background-color: white;
        font-family: "Raleway", sans-serif;
        overflow-x: hidden;
        margin: 0px;
        color: black;
    }
    li
    {
        list-style: none;
    }
    a
    {
        color: black;
        text-decoration: none;
    }
    a:visited
    {
        color: black;
    }
    header, main
    {
        padding: 0;
        margin: 0; 
        width: auto;
    }
    *:focus
    {
        outline: none;
    }
    /*Header*/
    .wrap
    {
        display: flex;
        flex-direction: column;
    }
    .logo
    {
        padding: 20px 0 0 20px;
    }
    .nav_list > ul
    {
        padding: 15px 0 15px 0;
        margin: 20px 0 0 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .nav_list > ul > li
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 50%;
        text-align: center;
        padding: 15px 0 15px 0;
        border-bottom: 2px solid #D9D9D9;
    }
    .nav_list > ul > li:active
    {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
    }
    /*Effet Active : Font color doesn't change*/
    .inscription
    {
        padding: 20px 0 0 0;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    nav > .nav_list > .inscription > a
    {
        color: #0065FC;
        font-weight: bold;
    }
    /*Section 1: Text Bloc*/
    .text_bloc
    {
        clear: both;
        margin: 20px;
    }
    .text_bloc h2
    {
        font-size: 1.5em;
    }
    /*Section 1: Champ de Recherche */
    .recherche_bloc
    {
        margin: 20px;
        display: flex;
    }
    .icon_gps
    {
        background-color: #F2F2F2;
        height: 50px;
        width: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 1.1em;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    #recherche > form > input
    {
        font-size:1.1em;
        font-weight: bold;
        width: 68%;
        height: 50px;
        padding: 10px;
        border: 1px solid #F2F2F2;  
    }
    #recherche > form > .button
    {
        width: 50px;
        height: 50px;
        color: white;
        font-size: 1.1em;
        font-weight: bold;
        background-color: #0065FC;
        border: none;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .button_text
    {
        display: none;
    }
    .icon_search
    {
        color: white;
        display:table-cell;
        line-height: 50px;
        text-align: center;
        font-size: 1em;
        padding-left: 0.85em;
    }
    /*Section 1: Filtres*/
    .text_filtres
    {
        margin-left: 20px;
    }
    .filtres
    {
        font-size: 0.8em;
        font-weight: bold;
        line-height: 52px; /*Vertical align: center*/
        box-sizing: content-box;
        height: 52px;
        border-radius: 30px;
        border: 2px solid #D9D9D9;
        background-color: white;
        float: left;
        padding: 0 20px 0 0;
        margin: 0 5px 20px 20px;
    }
    .filtres:hover
    {
        background-color: #DEEBFF;
    }
    .filtres > a:hover
    {
        color: #0065FC;
    }
    .icon_filtres
    {
        color: #0065FC;
        background-color: #DEEBFF;
        height: 52px;
        width: 52px;
        line-height: 52px;
        text-align: center;
        font-size: 1.2em;
        border-radius: 50%;
        margin-right: 10px; /*Espace entre icon et text*/
        float: left;
    }
    /*Section 1: Info*/
    .info_message
    {
        clear: both;
        margin: 30px 20px 30px 20px;
    }
    .icon_info
    {
        color: #0065FC;
        background-color: white;
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 0.7em;
        border-radius: 50%; 
        border: #D9D9D9 solid 2px;
        float: left;
        margin-right: 10px;
    }
    .info_message > p
    {
        font-size: 0.9em;
    }
    /*Section 2: Article & Aside*/
    .section_2
    {
        display: flex;
        flex-direction: column-reverse;
    }
    /*Section 2.1: Hebergements*/
    .carte_hebergements
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 190px;
        width: auto;
        margin: 20px;
        padding: 5px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .hebergements_element img 
    {
        height: 115px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .hebergements_container > h2
    {
        padding: 0 20px 0  20px;
        margin-top: 30px;
    }
    .details
    {
        margin-left: 10px;
    }
    .hebergements_element > .details > h3
    {
        font-size: 1em;
        font-style: bold;
        margin: 5px 0 5px 0;
    }
    .hebergements_element > .details > p
    {
        font-size: 0.9em;
        margin: 5px 0 5px 0;
    }
    .hebergements_container > p
    {
        margin-left: 20px;
        font-weight: bold;
    }
    .text_bold
    {
        font-weight: bold;
    }
    .icon_star
    {
        font-size: 0.7em;
    }
    .icon_star > .full
    {
        color: #0065FC;
    }
    .icon_star > .simple
    {
        color: #D9D9D9;
    }
    /*Section 2.2: Les Plus Populaires*/
    .aside
    {
        width: auto;
        background-color: #F2F2F2;
    }
    .aside h2
    {
        padding: 0 20px 0  20px;
    }
    .carte_aside
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 140px;
        width: auto;
        margin: 20px;
        padding: 5px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .aside_element img
    {
        height: 140px;
        width: 42%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-right: 15px;
        float: left;
    }
    .aside_element > h3
    {
        font-size: 1em;
        font-style: bold;
        margin: 10px 0 10px 0;
    }
    .aside_element > p
    {
        font-size: 0.9em;
        margin: 5px 0 10px 0;
    }
    .aside_element > .icon_star
    {
        margin-top: 40px;
    }
    /*Section 3: Activites*/
    .activites_container > h2
    {
        padding: 0 20px 10px 20px;
        margin-top: 30px;
    }
    .carte_activites
    {
        display: flex;
        flex-direction: column;
        justify-content: top;
        height: 180px;
        width: auto;
        margin: 20px 20px 25px 20px;
        padding: 0 0 5px 0;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px 15px 2px #D9D9D9;
    }
    .activites_element img
    {
        height: 135px;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .activites_element > h3
    {
        font-size: 1em;
        font-weight: bold;
        margin: 13px 0 0 15px;
    }
    /*Footer*/
    footer
    {
        background-color: #F2F2F2;
        width: 100%;
        height: 100%;
        padding: 10px 0 40px 0;
        margin: 0;
    }
    footer h1
    {
        font-size: 1.1em;
        padding: 20px 0 0px 20px;
    }
    footer ul
    {
        margin: 0;
        padding: 0 0 0 20px;
    }
    footer li
    {
        font-size: 0.9em;
        padding: 10px 0 0 0;
        list-style: none;
    }
}