/*Elements principals de la page*/
body
{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    color: black;
}
a
{
    color: black;
    text-decoration: none;
}
a:visited
{
    color: black;
}
header, section, aside
{
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
}
/*Header*/
.logo
{
    padding: 20px;
}
/*Navigation*/
nav ul
{
    list-style: none;
    }
nav li
{
    float: left;
}
nav a
{
    display: block;
    padding: 8px;
}
nav a:hover
{
    color: blue;
}
/*Section 1*/
#recherche > form > input
{
    font-size:large;
    font-weight: bold;
    width: 250px;
    height: 40px;  
}
#recherche > form > button
{
    width: 150px;
    height: 40px;
    color: white;
    font-size: large;
    font-weight: bold;
    background-color: blue;
    border: none;
    border-radius: 5px;
}
/*Section 2.1*/
/*Section 2.2*/
/*Section 3*/
/*Footer*/
footer
{
    background-color: #F2F2F2;
}
footer h1
{
    font-size: 20px;
}
footer ul
{
    list-style: none;
}
footer a:link
{
    color: black;
    text-decoration: none;
}
/*Responsive Design with media queries*/